{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}
<div class="content">
    <div class="content-block"><h3>Добро пожаловать в EveryDo!</h3></div>
    <div class="left_main">
        <p>Данный проект находится в активной разработке, <br>по этому некоторый функионал еще не реализован в полной мере</p>
    </div>
    <div class="right_main">
        <p>
            Данный проект это сервис который нес идею объединить в себе:
        </p>
        <ul>
        <li>Ежедневник</li>
        <li>Планировщик задач</li>
        <li>Управление своими расходами</li>
        </ul>
    </div>
</div>
{% endblock %}